<div class="hidden md:hidden lg:block mb-3">
  <div class="flex items-center ml-8">
    <button (click)="allCakes()" class="bg-[#000] text-[#FFF] rounded-md p-2">All Categories</button>

    <ul class="flex gap-5 cursor-pointer items-center">
      <li><a class="no-underline text-lg text-[#110101] drop-shadow-md font-bold" routerLink="/cakes/celebration-cakes">Celebration Cakes</a></li>
      <li><a class="no-underline text-lg text-[#110101] drop-shadow-md font-bold" routerLink="/cakes/discounted-cakes">Discounted Cakes</a></li>
      <li><a class="no-underline text-lg text-[#110101] drop-shadow-md font-bold" routerLink="/cakes/kiddies-cakes">Kiddies Cakes</a></li>
      <li><a class="no-underline text-lg text-[#110101] drop-shadow-md font-bold" routerLink="/cakes/plant-based-cakes">Plant Based Cakes</a></li>
    </ul>
  </div>
</div>
