<hr />
<div class="grid grid-cols-3">
  <div class="col-span-3 md:col-span-1 lg:col-span-1 flex flex-col gap-3">
    <h5 class="text-[#1A0202] font-bold drop-shadow-lg">OUR SOCIAL MEDIA:</h5>
    <div class="flex gap-2">
      <a href="#"
        ><img
          src="assets/images/instagram.png"
          width="35"
          height="35"
          class="cursor-pointer"
      /></a>
      <a href="https://wa.me/2348023403135" target="_blank"
        ><img
          src="assets/images/whatsapp.png"
          width="35"
          height="35"
          class="cursor-pointer"
      /></a>
      <a href="#"
        ><img
          src="assets/images/facebook.png"
          width="35"
          height="35"
          class="cursor-pointer"
      /></a>
      <a href="#"
        ><img
          src="assets/images/twitter.png"
          width="35"
          height="35"
          class="cursor-pointer"
      /></a>
    </div>
    <div>
      <p class="my-4 text-xl text-[#000]">Copyright &copy; 2023 Dial a Cake</p>
    </div>
  </div>
  <div class="col-span-3 md:col-span-1 lg:col-span-1 flex gap-3">
    <div class="flex flex-col gap-3">
      <h5 class="text-[#1A0202] font-bold drop-shadow-lg">OUR LOCATION:</h5>
      <p class="text-lg font-semibold text-[#000]">Lagos, Nigeria.</p>
    </div>
  </div>
  <div class="col-span-3 md:col-span-1 lg:col-span-1 flex cursor-pointer">
    <div class="">
      <h5 class="text-[#1A0202] font-bold drop-shadow-lg">CONTACT US ON:</h5>
      <h6 class="font-bold drop-shadow-lg text-[#041305]">
        Quick dial to place order:<br />
      </h6>
      <span class="font-semibold">08023403135</span>
      <h6 class="font-bold drop-shadow-lg text-[#041305]">
        Email Address:<br />
      </h6>
      <span class="font-semibold drop-shadow-lg"
        ><a
          href="{{ 'mailto:' + email }}"
          class="no-underline text-[#110101]"
          >{{ email }}</a
        ></span
      >
    </div>
  </div>
</div>
