<div class="py-2">
  <div class="justify-center items-center mx-auto">
    <img
      src="assets/images/banner.jpeg"
      alt="banner"
      class="w-100 rounded-lg lg:rounded-3xl"
    />
  </div>

  <!-- LARGE DEVICES -->
  <div class="hidden lg:block">
    <div class="grid grid-cols-3 lg:grid-cols-4 gap-3 my-4 px-10">
      <div class="col-span-3 lg:col-span-4">
        <h4 class="title card-title fw-bold mb-2">Discounted Cakes</h4>
      </div>
      <ng-container *ngFor="let cake of discountedCakes">
        <div class="flex flex-col justify-center col-span-1">
          <div class="inline-block mb-2">
            <img
              src="{{ cake.imageURL }}"
              alt=""
              class="cursor-pointer w-[200px] md:w-[200px] lg:w-[200px] h-[70px] md:h-[180px] lg:h-[180px] rounded-lg lg:rounded-3xl"
              (click)="openOrderModal(cake, orderModal)"
            />
          </div>
          <div class="inline-block">
            <a
              (click)="openOrderModal(cake, orderModal)"
              title="{{ cake.cakeName }}"
              class="text-xs lg:text-2xl font-bold drop-shadow-md text-[#110101] no-underline cursor-pointer"
              >{{
                cake.cakeName.length < 10
                  ? cake.cakeName
                  : cake.cakeName.substring(0, 7) + "..."
              }}</a
            ><br />
            <span class="text-[#110101] text-xs font-bold"
              >₦ {{ cake.price.toLocaleString() }}</span
            >
          </div>
          <div>
            <span
              type="button"
              (click)="openOrderModal(cake, orderModal)"
              class="text-[10px] lg:text-sm text-[#FFF] bg-[#FF0000] rounded-3xl text-left lg:text-center font-semibold drop-shadow-lg lg:px-2 no-underline"
            >
              BUY NOW
            </span>
          </div>
        </div>
      </ng-container>
      <div
        class="col-span-3 lg:col-span-4 flex items-center justify-center my-5"
      >
        <button
          (click)="routeToCategory('discounted-cakes')"
          type="button"
          class="text-[10px] lg:text-lg text-[#FFF] bg-[#FF0000] text-center rounded-3xl font-normal lg:font-semibold drop-shadow-lg px-2 no-underline"
        >
          VIEW ALL DISCOUNTED CAKES<i
            class="ri-arrow-down-s-fill text-center text-2xl text-[#110101]"
          ></i>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-3 lg:grid-cols-4 gap-3 my-4 px-10">
      <div class="col-span-3 lg:col-span-4">
        <h4 class="title card-title fw-bold mb-2 text-[#1E0202]">
          Celebration Cakes
        </h4>
      </div>
      <ng-container *ngFor="let cake of celebrationCakes">
        <div class="flex flex-col justify-center col-span-1">
          <div class="mb-2">
            <img
              src="{{ cake.imageURL }}"
              alt=""
              class="cursor-pointer w-[200px] md:w-[200px] lg:w-[200px] h-[70px] md:h-[180px] lg:h-[180px] rounded-lg lg:rounded-3xl"
              (click)="openOrderModal(cake, orderModal)"
            />
          </div>
          <div class="inline-block">
            <a
              (click)="openOrderModal(cake, orderModal)"
              title="{{ cake.cakeName }}"
              class="text-xs lg:text-2xl font-bold drop-shadow-md text-[#110101] no-underline cursor-pointer"
              >{{
                cake.cakeName.length < 10
                  ? cake.cakeName
                  : cake.cakeName.substring(0, 7) + "..."
              }}</a
            ><br />
            <span class="text-[#110101] text-xs font-bold"
              >₦ {{ cake.price.toLocaleString() }}</span
            >
          </div>
          <div>
            <span
              type="button"
              (click)="openOrderModal(cake, orderModal)"
              class="text-[10px] lg:text-sm text-[#FFF] bg-[#FF0000] rounded-3xl text-left lg:text-center font-semibold drop-shadow-lg px-1 lg:px-3 no-underline"
            >
              BUY NOW
            </span>
          </div>
        </div>
      </ng-container>
      <div
        class="col-span-3 lg:col-span-4 flex items-center justify-center my-5"
      >
        <button
          (click)="routeToCategory('celebration-cakes')"
          type="button"
          class="text-[10px] lg:text-lg text-[#FFF] bg-[#FF0000] text-center rounded-3xl font-normal lg:font-semibold drop-shadow-lg px-2 no-underline"
        >
          VIEW ALL CELEBRATION CAKES<i
            class="ri-arrow-down-s-fill text-center text-2xl text-[#110101]"
          ></i>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-3 lg:grid-cols-4 gap-3 my-4 px-10">
      <div class="col-span-3 lg:col-span-4">
        <h4 class="title card-title fw-bold mb-2 text-[#1E0202]">
          Kiddies Cakes
        </h4>
      </div>
      <ng-container *ngFor="let cake of kiddiesCakes">
        <div class="flex flex-col justify-center col-span-1">
          <div class="inline-block mb-2">
            <img
              src="{{ cake.imageURL }}"
              alt=""
              class="cursor-pointer w-[200px] md:w-[200px] lg:w-[200px] h-[70px] md:h-[180px] lg:h-[180px] rounded-lg lg:rounded-3xl"
              (click)="openOrderModal(cake, orderModal)"
            />
          </div>
          <div class="inline-block">
            <a
              (click)="openOrderModal(cake, orderModal)"
              title="{{ cake.cakeName }}"
              class="text-sm lg:text-2xl font-bold drop-shadow-md text-[#110101] no-underline cursor-pointer"
              >{{
                cake.cakeName.length < 10
                  ? cake.cakeName
                  : cake.cakeName.substring(0, 7) + "..."
              }}</a
            ><br />
            <span class="text-[#110101] text-xs font-bold"
              >₦ {{ cake.price.toLocaleString() }}</span
            >
          </div>
          <div>
            <span
              type="button"
              (click)="openOrderModal(cake, orderModal)"
              class="text-[10px] lg:text-sm text-[#FFF] bg-[#FF0000] rounded-3xl text-left lg:text-center font-semibold drop-shadow-lg px-1 lg:px-3 no-underline"
            >
              BUY NOW
            </span>
          </div>
        </div>
      </ng-container>
      <div
        class="col-span-3 lg:col-span-4 flex items-center justify-center my-5"
      >
        <button
          (click)="routeToCategory('kiddies-cakes')"
          type="button"
          class="text-[10px] lg:text-lg text-[#FFF] bg-[#FF0000] text-center rounded-3xl font-normal lg:font-semibold drop-shadow-lg px-2 no-underline"
        >
          VIEW ALL KIDDIES CAKES<i
            class="ri-arrow-down-s-fill text-center text-2xl text-[#110101]"
          ></i>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-3 lg:grid-cols-4 gap-3 my-4 px-10">
      <div class="col-span-3 lg:col-span-4">
        <h4 class="title card-title fw-bold mb-2 text-[#1E0202]">
          Plant Based Cakes
        </h4>
      </div>
      <ng-container
        *ngFor="
          let cake of plantBasedCakes | slice : plantBasedCakes.length - 4
        "
      >
        <div class="flex flex-col justify-center col-span-1">
          <div class="inline-block mb-2">
            <img
              src="{{ cake.imageURL }}"
              alt=""
              class="cursor-pointer w-[200px] md:w-[200px] lg:w-[200px] h-[70px] md:h-[180px] lg:h-[180px] rounded-lg lg:rounded-3xl"
              (click)="openOrderModal(cake, orderModal)"
            />
          </div>
          <div class="inline-block">
            <a
              (click)="openOrderModal(cake, orderModal)"
              title="{{ cake.cakeName }}"
              class="text-sm lg:text-2xl font-bold drop-shadow-md text-[#110101] no-underline cursor-pointer"
              >{{
                cake.cakeName.length < 10
                  ? cake.cakeName
                  : cake.cakeName.substring(0, 7) + "..."
              }}</a
            ><br />
            <span class="text-[#110101] text-xs font-bold"
              >₦ {{ cake.price.toLocaleString() }}</span
            >
          </div>
          <div>
            <span
              type="button"
              (click)="openOrderModal(cake, orderModal)"
              class="text-[10px] lg:text-sm text-[#FFF] bg-[#FF0000] rounded-3xl text-left lg:text-center font-semibold drop-shadow-lg px-1 lg:px-3 no-underline"
            >
              BUY NOW
            </span>
          </div>
        </div>
      </ng-container>
      <div
        class="col-span-3 lg:col-span-4 flex items-center justify-center my-5"
      >
        <button
          (click)="routeToCategory('plant-based-cakes')"
          type="button"
          class="text-[10px] lg:text-lg text-[#FFF] bg-[#FF0000] text-center rounded-3xl font-normal lg:font-semibold drop-shadow-lg px-2 no-underline"
        >
          VIEW ALL PLANT BASED CAKES<i
            class="ri-arrow-down-s-fill text-center text-2xl text-[#110101]"
          ></i>
        </button>
      </div>
    </div>
  </div>

  <!-- SMALL DEVICES -->
  <div class="block lg:hidden">
    <div class="grid grid-cols-3 gap-3 my-4 px-2">
      <div class="col-span-3">
        <h4 class="title card-title fw-bold mb-2">Discounted Cakes</h4>
      </div>
      <ng-container
        *ngFor="
          let cake of discountedCakes | slice : discountedCakes.length - 3
        "
      >
        <div class="flex flex-col justify-center col-span-1">
          <div class="inline-block mb-2">
            <img
              src="{{ cake.imageURL }}"
              alt="{{ cake.cakeName }}"
              class="cursor-pointer w-[200px] h-[100px] rounded-lg"
              (click)="openOrderModal(cake, orderModal)"
            />
          </div>
          <div class="inline-block">
            <a
              (click)="openOrderModal(cake, orderModal)"
              title="{{ cake.cakeName }}"
              class="text-lg font-bold drop-shadow-md text-[#110101] no-underline cursor-pointer"
              >{{
                cake.cakeName.length < 8
                  ? cake.cakeName
                  : cake.cakeName.substring(0, 7) + "..."
              }}</a
            ><br />
            <span class="text-[#110101] text-xs md:text-lg font-bold"
              >₦ {{ cake.price.toLocaleString() }}</span
            >
          </div>
          <div>
            <span
              type="button"
              (click)="openOrderModal(cake, orderModal)"
              class="text-[10px] text-[#FFF] bg-[#FF0000] rounded-3xl text-left font-semibold drop-shadow-lg py-1 px-2 no-underline"
            >
              BUY NOW
            </span>
          </div>
        </div>
      </ng-container>
      <div class="col-span-3 flex items-center justify-center my-4">
        <button
          (click)="routeToCategory('discounted-cakes')"
          type="button"
          class="text-[10px] text-[#FFF] bg-[#FF0000] text-center rounded-3xl font-semibold drop-shadow-lg px-2 no-underline"
        >
          VIEW ALL DISCOUNTED CAKES<i
            class="ri-arrow-down-s-fill text-center text-2xl text-[#110101]"
          ></i>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-3 my-4 px-2">
      <div class="col-span-3">
        <h4 class="title card-title fw-bold mb-2 text-[#1E0202]">
          Celebration Cakes
        </h4>
      </div>
      <ng-container
        *ngFor="
          let cake of celebrationCakes | slice : celebrationCakes.length - 3
        "
      >
        <div class="flex flex-col justify-center col-span-1">
          <div class="mb-2">
            <img
              src="{{ cake.imageURL }}"
              alt="{{ cake.cakeName }}"
              class="cursor-pointer w-[200px] h-[100px] rounded-lg lg:rounded-3xl"
              (click)="openOrderModal(cake, orderModal)"
            />
          </div>
          <div class="inline-block">
            <a
              (click)="openOrderModal(cake, orderModal)"
              title="{{ cake.cakeName }}"
              class="text-lg font-bold drop-shadow-md text-[#110101] no-underline cursor-pointer"
              >{{
                cake.cakeName.length < 8
                  ? cake.cakeName
                  : cake.cakeName.substring(0, 7) + "..."
              }}</a
            ><br />
            <span class="text-[#110101] text-xs md:text-lg font-bold"
              >₦ {{ cake.price.toLocaleString() }}</span
            >
          </div>
          <div>
            <span
              type="button"
              (click)="openOrderModal(cake, orderModal)"
              class="text-[10px] text-[#FFF] bg-[#FF0000] rounded-3xl text-left font-semibold drop-shadow-lg py-1 px-2 no-underline"
            >
              BUY NOW
            </span>
          </div>
        </div>
      </ng-container>
      <div class="col-span-3 flex items-center justify-center my-4">
        <button
          (click)="routeToCategory('celebration-cakes')"
          type="button"
          class="text-[10px] text-[#FFF] bg-[#FF0000] text-center rounded-3xl font-semibold drop-shadow-lg px-2 no-underline"
        >
          VIEW ALL CELEBRATION CAKES<i
            class="ri-arrow-down-s-fill text-center text-2xl text-[#110101]"
          ></i>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-3 my-4 px-2">
      <div class="col-span-3">
        <h4 class="title card-title fw-bold mb-2 text-[#1E0202]">
          Kiddies Cakes
        </h4>
      </div>
      <ng-container
        *ngFor="let cake of kiddiesCakes | slice : kiddiesCakes.length - 3"
      >
        <div class="flex flex-col justify-center col-span-1">
          <div class="inline-block mb-2">
            <img
              src="{{ cake.imageURL }}"
              alt="{{ cake.cakeName }}"
              class="cursor-pointer w-[200px] h-[100px] rounded-lg"
              (click)="openOrderModal(cake, orderModal)"
            />
          </div>
          <div class="inline-block">
            <a
              (click)="openOrderModal(cake, orderModal)"
              title="{{ cake.cakeName }}"
              class="text-lg font-bold drop-shadow-md text-[#110101] no-underline cursor-pointer"
              >{{
                cake.cakeName.length < 8
                  ? cake.cakeName
                  : cake.cakeName.substring(0, 7) + "..."
              }}</a
            ><br />
            <span class="text-[#110101] text-xs font-bold"
              >₦ {{ cake.price.toLocaleString() }}</span
            >
          </div>
          <div>
            <span
              type="button"
              (click)="openOrderModal(cake, orderModal)"
              class="text-[10px] text-[#FFF] bg-[#FF0000] rounded-3xl text-left font-semibold drop-shadow-lg py-1 px-2 no-underline"
            >
              BUY NOW
            </span>
          </div>
        </div>
      </ng-container>
      <div class="col-span-3 flex items-center justify-center my-5">
        <button
          (click)="routeToCategory('kiddies-cakes')"
          type="button"
          class="text-[10px] text-[#FFF] bg-[#FF0000] text-center rounded-3xl font-semibold drop-shadow-lg px-2 no-underline"
        >
          VIEW ALL KIDDIES CAKES<i
            class="ri-arrow-down-s-fill text-center text-2xl text-[#110101]"
          ></i>
        </button>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-3 my-4 px-2">
      <div class="col-span-3">
        <h4 class="title card-title fw-bold mb-2 text-[#1E0202]">
          Plant Based Cakes
        </h4>
      </div>
      <ng-container
        *ngFor="
          let cake of plantBasedCakes | slice : plantBasedCakes.length - 3
        "
      >
        <div class="flex flex-col justify-center col-span-1">
          <div class="inline-block mb-2">
            <img
              src="{{ cake.imageURL }}"
              alt="{{ cake.cakeName }}"
              class="cursor-pointer w-[200px] h-[100px] rounded-lg"
              (click)="openOrderModal(cake, orderModal)"
            />
          </div>
          <div class="inline-block">
            <a
              (click)="openOrderModal(cake, orderModal)"
              title="{{ cake.cakeName }}"
              class="text-lg font-bold drop-shadow-md text-[#110101] no-underline cursor-pointer"
              >{{
                cake.cakeName.length < 8
                  ? cake.cakeName
                  : cake.cakeName.substring(0, 7) + "..."
              }}</a
            ><br />
            <span class="text-[#110101] text-xs font-bold"
              >₦ {{ cake.price.toLocaleString() }}</span
            >
          </div>
          <div>
            <span
              type="button"
              (click)="openOrderModal(cake, orderModal)"
              class="text-[10px] text-[#FFF] bg-[#FF0000] rounded-3xl text-left font-semibold drop-shadow-lg px-3 py-1 no-underline"
            >
              BUY NOW
            </span>
          </div>
        </div>
      </ng-container>
      <div class="col-span-3 flex items-center justify-center my-4">
        <button
          (click)="routeToCategory('plant-based-cakes')"
          type="button"
          class="text-[10px] text-[#FFF] bg-[#FF0000] text-center rounded-3xl font-semibold drop-shadow-lg px-2 no-underline"
        >
          VIEW ALL PLANT BASED CAKES<i
            class="ri-arrow-down-s-fill text-center text-2xl text-[#110101]"
          ></i>
        </button>
      </div>
    </div>
  </div>

  <div class="border-b-2 border-gray-500">
    <div class="my-5">
      <h3 class="text-[#FFF] text-center font-bold text-4xl">
        REVIEWS ABOUT US
      </h3>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 lg:gap-3 sm:gap-5 gap-4 mb-3"
    >
      <div
        *ngFor="let feedback of feedbacks"
        class="p-6 w-72 md:w-52 lg:w-full bg-[#110101] mx-auto rounded-xl"
      >
        <div class="flex flex-row justify-end items-center">
          <span class="text-5xl text-yellow-500 font-bold">”</span>
        </div>
        <div class="mt-4">
          <p class="text-yellow-500 text-left text-lg">
            {{ feedback }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="border-b-2 border-gray-500">
    <div class="flex flex-col justify-center items-center py-4">
      <p
        class="text-xl md:text-3xl lg:text-5xl uppercase text-center text-[#110101] font-bold drop-shadow-lg"
      >
        WANT TO PLACE AN ORDER?
      </p>
      <button
        (click)="routeToCategory('discounted-cakes')"
        type="button"
        class="text-lg text-[#FFF] bg-[#FF0000] text-center rounded-3xl font-semibold drop-shadow-lg p-2 no-underline"
      >
        CHOOSE A CAKE NOW
      </button>
    </div>
  </div>
</div>

<ng-template #orderModal let-modal>
  <app-order-page
    [selectedCake]="selectedCake"
    (dismissModal)="modal.close('Close click')"
  ></app-order-page>
</ng-template>
